.container {
    height: auto;
    padding: 20px;
    
  }
  
  .headlineprimary {
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 2px;
  }

  @media screen and (max-width: 799px) {
    .headlineprimary {
      font-size: 25px;
      font-weight: 300;
      letter-spacing: 2px;
    }
  }
  