.button {
    background: transparent;
    border: 1px solid white;
    padding: 5px;
    cursor: pointer;
    margin: 4px;
    color: white;
    transition: all 0.1s ease-in;
  }
  
  .button:hover {
    background: #171212;
    color: #ffffff;
  }
  
  .buttonsmall {
    padding: 5px;
  }

  .button:hover > svg > g {
    fill: #ffffff;
    stroke: #ffffff;
  }

  .button > svg > g {
    fill: #ffffff;
  }