.button {
    background: transparent;
    border: 1px solid white!important;
    padding: 5px;
    cursor: pointer;
    color: white!important;
    transition: all 0.1s ease-in;
  }
  
  .button:hover {
    background: #171212;
    color: #ffffff;
  }
  
  .buttonsmall {
    padding: 5px;
    border: 1px solid white!important;
  }

  .button:hover > svg > g {
    fill: #ffffff;
    stroke: #ffffff;
  }

  .button > svg > g {
    fill: #ffffff;
  }

  @media screen and (max-width: 767px) {
    .button {
      background: transparent;
      border: 1px solid white!important;
      padding: 2px;
      cursor: pointer;
      width: auto;
      font-size: 50%;
      transition: all 0.1s ease-in;
    }

    .buttonsmall {
      padding: 5px;
      border: 1px solid white!important;
    }

    .button:hover {
      background: #171212;
      color: #ffffff;
    }

    .button:hover > svg > g {
      fill: #ffffff;
      stroke: #ffffff;
    }

    .button > svg > g {
      fill: #ffffff;
    }

    .item {
      font-size: 15px;
      display: flex;
      align-items: center;
      width: auto;
      padding-bottom: 5px;
    }

    .item span{
      width: 50px !important;
    }
  }