  .label {
padding-left: 5px;
font-size: 24px;
}

.input, .input:focus, .input:active {
border: none !important;
border-bottom: 1px solid #171212 !important;
background-color: transparent;
font-size: 1.23em;
}

